Repository statisticsnorway/mimir, pull requests merged in 2023-12, with the labels that each got.

#2350 [MIM-9876] testing nais deploy
  .github/workflows/deploy_nais.yaml
  nais.yaml
Labels: nais

#2380 Deploy to production
  .eslintrc.json
  .github/workflows/deploy_nais.yaml
  .github/workflows/update_mimir_version_number.yaml
  docs/PublishJob.md
  gradle.properties
  jest.config.js
  nais.yaml
  package-lock.json
  package.json
  src/main/resources/assets/js/app/highchart.es6
  src/main/resources/assets/styles/_richText.scss
  src/main/resources/lib/ssb/cron/cron.ts
  src/main/resources/lib/ssb/dataset/publish.ts
  src/main/resources/lib/ssb/utils/articleUtils.ts
  src/main/resources/lib/ssb/utils/nameSearchUtils.ts
  src/main/resources/lib/ssb/utils/solrUtils.ts
  src/main/resources/main.es6
  src/main/resources/react4xp/_entries/BkibolCalculator.jsx
  src/main/resources/react4xp/_entries/KpiCalculator.jsx
  src/main/resources/react4xp/_entries/PifCalculator.jsx
  src/main/resources/services/gptArticles/gptArticles.ts
  src/main/resources/services/gptArticles/gptArticles.xml
  src/main/resources/services/gptStatistics/gptStatistics.ts
  src/main/resources/services/gptStatistics/gptStatistics.xml
  src/main/resources/site/content-types/article/article.xml
  src/main/resources/site/i18n/phrases.properties
  src/main/resources/site/i18n/phrases_en.properties
  src/main/resources/site/i18n/phrases_nn.properties
  src/main/resources/site/pages/default/default.ts
  src/main/resources/site/parts/article/article.ts
  src/main/resources/site/parts/articleList/articleList.jsx
  src/main/resources/site/parts/articleList/articleList.ts
  src/main/resources/site/parts/husleieCalculator/husleieCalculator.jsx
  src/main/resources/site/parts/richText/richText.jsx
  src/main/resources/site/parts/richText/richText.ts
  src/main/resources/site/parts/richText/richText.xml
  src/main/resources/site/parts/searchResult/searchResult.ts
  src/main/resources/site/parts/statistics/statistics.ts
  src/main/resources/site/parts/upcomingReleases/upcomingReleases-test.js
  src/main/resources/site/parts/upcomingReleases/upcomingReleases.jsx
  src/main/resources/tasks/libSchedulerTester/libSchedulerTester.ts
  src/main/resources/tasks/libSchedulerTester/libSchedulerTester.xml
  src/main/resources/tasks/publishJob/publishJob.ts
  src/main/resources/tasks/publishJob/publishJob.xml
  tsconfig.json
  webpack.server.config.js
Labels: minor-release

#2386 [MIM-1735] Hotfix revert mim 1707 wrap cron is master
  gradle.properties
  src/main/resources/lib/ssb/cron/cron.ts
Labels: patch-release
