Repository statisticsnorway/mimir, pull requests merged in 2024-06, with the labels that each got.

#2776 PROD Løft
  .github/workflows/deploy_to_prod.yaml
  .github/workflows/former_build_deploy_to_prod.yaml
  package-lock.json
  package.json
  src/main/resources/assets/js/app/highchart.es6
  src/main/resources/assets/styles/_keyFigures.scss
  src/main/resources/lib/types/partTypes/attachmentTablesFigures.ts
  src/main/resources/lib/types/partTypes/keyFigure.ts
  src/main/resources/lib/types/partTypes/links.ts
  src/main/resources/lib/types/partTypes/nameSearch.ts
  src/main/resources/lib/types/partTypes/searchResult.ts
  src/main/resources/lib/types/partTypes/table.ts
  src/main/resources/main.es6
  src/main/resources/react4xp/ReactGA.tsx
  src/main/resources/react4xp/_entries/AttachmentTablesFigures.tsx
  src/main/resources/react4xp/_entries/KeyFigure.tsx
  src/main/resources/react4xp/table/Table.tsx
  src/main/resources/site/error/error.html
  src/main/resources/site/error/error.ts
  src/main/resources/site/macros/keyFigure/keyFigure.ts
  src/main/resources/site/macros/keyFigure/keyFigure.xml
  src/main/resources/site/macros/links/links.ts
  src/main/resources/site/pages/default/default.html
  src/main/resources/site/pages/default/default.ts
  src/main/resources/site/parts/attachmentTablesFigures/attachmentTablesFigures.ts
  src/main/resources/site/parts/highchart/Highchart.jsx
  src/main/resources/site/parts/highchart/highchart.ts
  src/main/resources/site/parts/keyFigure/keyFigure.ts
  src/main/resources/site/parts/links/links.ts
  src/main/resources/site/parts/links/links.tsx
  src/main/resources/site/parts/nameSearch/nameSearch.jsx
  src/main/resources/site/parts/nameSearch/nameSearch.ts
  src/main/resources/site/parts/searchResult/searchResult.ts
  src/main/resources/site/parts/searchResult/searchResultView.tsx
  src/main/resources/site/parts/table/table.ts
  src/main/resources/site/parts/upcomingReleases/upcomingReleases.tsx
Labels: minor-release

#2789 Develop to Master - Deploy to Prod
  .github/workflows/testOnPr.yml
  build.gradle
  gradle.properties
  package-lock.json
  package.json
  src/main/resources/assets/styles/_article.scss
  src/main/resources/assets/styles/_globalStyles.scss
  src/main/resources/lib/ssb/parts/highcharts/graph/config.ts
  src/main/resources/lib/ssb/utils/filterReleasesUtils.test.js
  src/main/resources/react4xp/dashboard/store/configureStore.es6
  src/main/resources/services/securitytxt/securitytxt.ts
Labels: patch-release

#2798 Release 2.10.0
  .github/workflows/former_build_deploy_to_prod.yaml
  .github/workflows/former_build_deploy_to_qa.yaml
  .github/workflows/testOnPr.yml
  build.gradle
  gradle.properties
  package-lock.json
  src/main/resources/admin/tools/dashboard/dashboard.es6
  src/main/resources/lib/ssb/parts/highcharts/graph/config.ts
  src/main/resources/lib/ssb/parts/highcharts/graph/graphBarNegativeConfig.ts
  src/main/resources/lib/ssb/utils/dateUtils.ts
  src/main/resources/react4xp/dashboard/containers/DashboardTools/index.tsx
  src/main/resources/react4xp/dashboard/store/configureStore.es6
  src/main/resources/site/i18n/phrases.properties
  src/main/resources/site/i18n/phrases_en.properties
  src/main/resources/site/i18n/phrases_nn.properties
  src/main/resources/site/parts/article/article.ts
  src/main/resources/site/parts/omStatistikken/omStatistikken.tsx
  src/main/resources/site/parts/statistics/statistics.ts
Labels: minor-release

#2814 [MIM-1827] MIM-1827:Fikset markering siste punkt i highchart
  src/main/resources/assets/js/app/highchart.es6
Labels: nais
